* { 
    box-sizing: border-box;
    margin: 0%;
}

body{
    font-family: "Helvicta", Arial, Helvetica, sans-serif;
    font-size: medium;
}

/* Bio */

.bio{
    padding-top: 60px;
    font-style: normal;
    font-size: 20px;
    color: #021718;
    text-align: justify;
    margin-right: 80px;
    margin-left: 40px;
}

/* Button */
.button {
  background-color: #04AA6D; /* Green */
  border-radius: 50%;
  color: white;
  padding: 20px;
  margin-left: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Navigation */

.nav-container{
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72%;
    z-index: 500;
    position: relative;
    }

.wrapper {
        width: 1200px;
        margin: 0 auto;
      }

nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 62px;
      }

      nav ul {
        display: flex;
      }
      
      nav .logo {
        width: 800px;
        color: #021718;
      }
      
      .nav-items li {
        list-style: none;
        margin-right: 100px;
      }
      
      .nav-items li:nth-last-of-type(1) {
        margin: 0;
      }

      .nav-items li a {
        color: #021718;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
      }
      

      /* Social Icons */

.social-icons {
  display: flex;
  text-align: center;
  margin-left: 500px;
}

.social-icons a {
  margin: 0 24px;
  height: 5;
  width: 5;
}
