* { 
    box-sizing: border-box;
    margin: 0%;
}

body{
    font-family: "Roboto", sans-serif;
}


/* Social Icons */

.social-icons {
    display: flex;
    text-align: center;
    margin-left: 500px;
  }
  
  .social-icons a {
    margin: 0 24px;
    height: 10;
    width: 10;
  }